crux-core-backup/src/tools/META-INF/module.xsd

<xs:schema xmlns="http://www.cruxframework.org/module"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.cruxframework.org/module">

	<xs:element name="module" type="Module" />
	<xs:complexType name="Module">
		<xs:all>
			<xs:element name="description" type="xs:string" />
		</xs:all>
	</xs:complexType>
</xs:schema>